*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin-left: -4rem;
    margin-top: 10px;
    overflow-y: hidden;
    background-color: #000;
}


h1{
    width: 12rem;
    height: 12rem;
    padding: 20%;
    color: #fff;
    border-radius: 30px;
    background-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards{
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.cian{
    background-color: darkcyan;
}

.color{
    background-color: grey;
}


